body {
	background:#fbfdf6;
	font-family:"Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
	font-size:90%;
	color:#968765;
	margin:20px auto;
	text-align:center;
	line-height:1.4em;
	width:960px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.5em;
	letter-spacing:-0.06em;
	text-transform:uppercase;
	font-weight:normal;
}

a:link, a:visited {
	font-family:georgia, times, serif;
	font-weight:bold;
	color:#c17086;
	text-decoration:none;
	border-bottom:1px solid #91476c;
	font-size:.8em;
}

a:hover {
	border-bottom:1px dotted #91476c;
}

a img {
	border:none;
}

header, section, article, footer {
	padding:10px 20px 20px;
	margin:10px;
	border:1px solid #e7e2d7;
	border-radius:8px;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	background:#fff url(sprites.png) repeat-x 0px -120px;
}

header {
	display:block;
	position:relative;
	text-align:left;
}

header img {
	position:absolute;
	left:20px;
	top:18px;
}

header h1 {
	font-size:2.3em;
	text-transform:none;
	letter-spacing:0em;
	text-align:center;
}

header h2 {
	margin:-10px 0px 20px;
	font-size:1.3em;
	text-align:center
}

nav {
	text-align:center;
	display:block;
}

nav ul {
	padding:0px;
	list-style-type:none;
	display:inline;
}

nav li {
	margin:0px 10px;
	padding:0px;
	list-style-type:none;
	display:inline;
}

nav a:link, nav a:visited {
	font-size:1.4em;
	font-weight:normal;
}

section {
	float:left;
	width:178px;
	text-align:left;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
	background:transparent url(sprites.png) no-repeat 0px -80px;
	color:#fff;
	padding:9px 10px 10px 10px;
	margin:13px -10px;	
	text-shadow:0 1px 0 #403232;
}

section ul {
	padding:0px;
	list-style:none;
	border-top:1px solid #e7e2d7;
	margin:14px 0px;
}

section li {
	margin:0px;
	padding:0px;
	list-style:none;
}

section li a:link, section li a:visited {
	float:left;
	width:96%;
	padding:3px 1%;
	border-bottom:1px solid #e7e2d7;
}

section li a:hover {
	background:#f2f1ec;
}

article {
	float:right;
	width:658px;
	text-align:left;
}

article h1 {
	background:transparent url(sprites.png) no-repeat 0px 0px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #403232;
}

article h2, article h3, article h4, article h5, article h6  {
	background:transparent url(sprites.png) no-repeat 0px -40px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #913951;
}

article p:first-of-type {
	font-family:Helvetica, Arial, serif;
	text-transform:uppercase;
	border-top:1px dotted #968765;
	border-bottom:1px dotted #968765;
	padding:10px 0px;
	color:#c17086;
}

footer {
	display:block;
	clear:both !important;
	width:898px;
}

footer a {
	margin:0px 5px;
}